{% extends "base.html" %}
{% block content %}
    <div>
        <form action="{% url 'posts:create' %}" method="POST">
            {% csrf_token %}
            <label for='name'>Name of the Post</label>
            <input type="text" name='name' id='name'>
            <br>
            <label for='data'>Post data</label>
            <input type="text" name='data' id='data'>
            <br>
            <label for='created_by'>created_by</label>
            <input type="text" name='created_by' id='created_by'>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}